<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>New question</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
    <h1 class="jumbotron">New question</h1>

    <form class="form-group" action="#" th:action="@{/newquestion}" th:object="${submitedQuestion}" method="post">
        <label for="header">Question header</label>
        <input type="text" class="form-control" id="header" th:field="*{header}">

        <label for="text">Question text:</label>
        <textarea class="form-control" rows="5" id="text" th:field="*{text}"></textarea>

        <input type="submit" class="btn btn-primary" value="Create">
    </form>
</body>

</html>